*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--green: rgb(18, 198, 183);
	--overlay: rgba(18, 198, 183, 0.9);
	--black: #333333;
}

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color: var(--black);
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

header {
	background-image: url('images/559.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* margin-bottom: -5em; */
}

header .green__overlay {
	padding-bottom: 5em;
}

.noMargin {
	margin: 0;
}

.about__nav {
	padding: 3em 0;
}
.green__overlay {
	background-color: rgba(18, 198, 183, 0.9);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 100;
}

.hero {
	padding: 6em 0;
}

/* .menu {
	position: absolute;
	overflow: hidden;
	top: 60px;
	width: 100%;
	background-color: white;
	z-index: 100;
	height: 0;
	transition: 0.5s ease-in;
} */

.hero__menu--item a {
	color: rgb(18, 198, 183);

	/* letter-spacing: 5px; */
	display: block;
	padding: 0.7em;
}

/* .showMenu {
	height: 300px;
	padding: 3em 1em;
	transition: 0.5s ease-in;
} */

.logo {
	width: 30%;
	max-width: 160px;
}

.hamburger {
	background-image: url('images/bars-solid.svg');
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.5s ease-in;
}

.rotate_hamburger {
	transform: rotate(360deg);
	background-image: url('images/times-solid.svg');
}

.hero__text {
	text-align: center;
	margin-top: 4em;
}

h1 {
	font-family: 'Bebas Neue';
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 3.1rem;
	letter-spacing: 6px;
	line-height: 46px;
	animation-name: appearTitle;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	transform: translateY(50px);
	opacity: 0;
	animation-duration: 1.3s;
	/* transition: 1s all; */
}

.hero__text p {
	color: #333333;
	margin-top: 2em;
	font-size: 1.3rem;
	margin-bottom: 3em;
	animation-name: appearTitle;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	transform: translateY(50px);
	opacity: 0;
	animation-duration: 1.3s;
}

.hero__text span {
	font-weight: 900;
	display: block;
}

.hero__circle {
	position: absolute;
	top: -8em;
	left: -8em;
	max-width: 500px;
	width: 83%;
	animation-name: spin;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.hero__btn {
	/* background-color: white;
	width: 70%;
	margin: 0 auto;
	padding: 0.5em 0;
	max-width: 250px; */

	transition: 0.5s;
}

.hero__btn a {
	color: #333333;
	font-weight: 900;
	background-color: white;
	width: 70%;
	margin: 0 auto;
	padding: 0.5em 1.5em;
	max-width: 250px;
	box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.2);
	animation-name: appearTitle;
	animation-delay: 2.4s;
	animation-fill-mode: forwards;
	transform: translateY(50px);
	opacity: 0;
	animation-duration: 1.3s;
}

main {
	padding-top: 3em;
	text-align: center;
	overflow: hidden;
}

.contact__info {
	margin-bottom: 3em;
}

.info__container {
	background-color: var(--black);
	padding: 2em 1em;
	text-align: left;
	box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.2);
}

.contact__info--item {
	transition: 0.7s all;
}

.contact__info--item i {
	color: var(--green);
	margin-right: 1em;
}

.contact__info--item a {
	color: white;
}

.contact__info--item:hover {
	transform: scale(1.3);
}

.underLine {
	position: relative;
	padding: 0.3em 0;
	margin-bottom: 4em;
	display: inline-block;
}

.underLine::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 60%;
	height: 3px;
	background-color: var(--green);
}

.services {
	position: relative;
	padding-bottom: 8em;
}

.services__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;
	gap: 2em;
}

.service__item {
	text-align: center;
}

.service__item:hover .icon__container div {
	background: var(--green);
}

.service__item:hover .icon__container i {
	color: white;

	transform: rotate(317deg);
}

.icon__container {
	margin-bottom: 2em;
}

.icon__container i {
	transform: rotate(-45deg);
	color: var(--green);
	transition: 0.5s all;
}

.icon__container div {
	font-size: 2rem;
	padding: 0.8em;
	border: solid 2px var(--green);
	width: 95px;
	height: 95px;
	transform: rotate(45deg);
	margin: 0 auto;
	transition: 0.5s all;
}

.service__item h2 {
	margin-bottom: 0.7em;
}

.btn__service {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: var(--green);
	margin-top: 1.6em;
	transition: 0.5s all;
}

.btn__service a {
	color: var(--green);
	margin-right: 0.8em;
	transition: 0.5s all;
}

.btn__service:hover {
	transform: scale(1.1);
}

.btn__service:hover i {
	transform: translateX(30px);
	opacity: 0;
}

.btn__service i {
	transition: 0.5s all;
}

.dot__img {
	position: absolute;
	transform: rotate(90deg);
	bottom: 0;
	right: -84px;
}

.dot__img img {
	width: 35%;
	max-width: 245px;
}

/* .job__item + .job__item {
	margin-top: 3em;
} */

.jobs {
	position: relative;
	z-index: 10;
}

/* .jobs::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 30px;

	background-color: var(--green);
	z-index: -1;
} */

.job__item {
	transition: 0.5s all;
	position: relative;
}

.job__item img {
	border: solid 3px var(--green);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	margin-bottom: 1em;
}

.job__item p {
	margin-top: 2em;
}

.job__item a {
	padding: 0.5em 1em;
	background-color: white;
	margin-top: 3em;
	display: inline-block;
	color: var(--black);
	font-weight: 400;
	box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.2);
	transition: 0.3s all ease-out;
}

.job__item a:hover {
	transform: scale(1.1);
}

.job__item:hover {
	transform: translateY(-20px);
}

.job__item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--overlay);
	opacity: 0;
	width: 100%;
	height: 100%;
	display: block;
	transition: 0.5s all;
	border-radius: 10px;
}

.job__item:hover::after {
	opacity: 1;
}

.job__item {
	width: 280px;
	height: 360px;
}

.job__item img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}

.job__item--info {
	position: relative;
	z-index: 10;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform: translateY(30px);
	opacity: 0;
	transition: 0.7s all;
	color: white;
}

.job__item:hover .job__item--info {
	transform: translateY(0);
	opacity: 1;
}

.job__item--info ul {
	margin-top: 2em;
	text-align: left;
}

.job__item--info ul li {
	margin-top: 1em;
}

.section__planes {
	margin: 6em 0;
}

.planes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2em;
}

.plan__container {
	background-color: var(--green);
	padding: 4em 3em;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
	color: white;
	transition: 0.5s all;
}

.plan__container:hover {
	transform: scale(1.1);
}

.plan__container h2 {
	margin: 0.7em 0;
	font-size: 3rem;
}

.plan__span {
	font-weight: 400;
	display: block;
	font-size: 1.3rem;
}

.plan__container ul {
	text-align: left;
}

.plan__container--item + .plan__container--item {
	margin-top: 1em;
}

.contact {
	margin-top: 3em;
	background-image: url('images/23053.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: left;
	color: white;

	margin-top: -8em;
}

.planes__about {
	margin-bottom: 12em;
}

.contact__info {
	position: relative;
	z-index: 100;
}

.contact__container {
	padding: 3em 0;
}

form {
	padding: 3em 0;
}

form label {
	display: block;
	margin: 0.7em 0;
}

form input,
textarea {
	background: transparent;
	outline: none;
	border: solid 2px white;
	padding: 0.5em 0.8em;
	color: var(--black);
	font-size: 1.12rem;
}

form button {
	background: white;
	padding: 0.8em 1em;
	border: none;
	margin-top: 2em;
	font-weight: 400;
	box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: 0.3s all;
	border: solid 2px white;
	font-weight: 400;
	color: var(--black);
}

form button:hover {
	transform: scale(1.1);
	background-color: var(--green);
	color: white;
}

footer {
	background: var(--black);
	text-align: center;
	padding: 3em 0;
}

footer i {
	color: white;
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}

footer a {
	color: white;
	text-decoration: none;
	display: block;
}

.info {
	margin-bottom: 2em;
}

.info__item + .info__item {
	margin-top: 1.7em;
}

.footer__menu a,
.footer__services a {
	color: var(--green);
}

.footer__menu--item + .footer__menu--item {
	margin-top: 1em;
}

.footer__services p {
	margin: 3em 0 2em 0;
	color: white;
}

.web__design {
	position: relative;
	z-index: 100;
	margin: 3em 0;
}

.web__design .green__overlay {
	padding: 2em 0;
}

.web__design h2,
.web__design p {
	color: white;
	font-weight: 400;
}

.web__design a {
	display: inline-block;
	padding: 0.6em 1em;
	background: white;
	border: solid 2px white;
	transition: 0.5s all;
	color: var(--green);
	box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.2);
}

h2 span {
	font-weight: 900;
}

.web__design a:hover {
	transform: scale(1.1);
	background: transparent;
	color: white;
}

/* Inicio Estilos pagina About */
.us {
	margin: 3em 0;
	position: relative;
	z-index: -1;
}

.us__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 4em;
	align-items: center;
	justify-items: center;
	padding: 2em 0;
	/* text-align: justify; */
}

.green__bg {
	background-color: var(--green);
	padding: 2em 0;
	color: white;
}

.us .green__bg {
	margin-top: 4em;
}

.us__grid h2 {
	/* text-align: center; */
	font-size: 2.4rem;
	width: 80%;
}

.us__grid p {
	font-size: 1.7rem;
}

.green__header {
	color: var(--green);
}

.fadein {
	transform: translateY(40px);
	opacity: 0;
	transition: 0.5s all;
}

.apear {
	opacity: 1;

	transform: translateY(0);
}

/* Inicio Estilos pagina About */

@media (max-width: 900px) {
	.menu {
		position: absolute;
		overflow: hidden;
		top: 60px;
		width: 100%;
		background-color: white;
		z-index: 100;
		height: 0;
		transition: 0.5s ease-in;
	}

	.showMenu {
		height: 300px;
		padding: 3em 1em;
		transition: 0.5s ease-in;
	}

	.hero__menu--item + .hero__menu--item {
		margin-top: 1.5em;
	}

	.service__item + .service__item {
		margin-top: 3em;
	}

	.contact__info--item + .contact__info--item {
		margin-top: 1em;
	}

	.contact__container {
		text-align: center;
	}

	footer .logo {
		text-align: center;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 2em;
	}

	.web__design p {
		margin-top: 0.8em;
	}

	.web__design a {
		margin-top: 2em;
	}

	.us__grid {
		text-align: left;
	}

	.us__grid h2 {
		margin-bottom: 1em;
	}

	.us__grid + .us__grid {
		margin-top: 2em;
	}
}

@media (min-width: 900px) {
	/* header {
		margin-bottom: -8em;
	} */
	.hamburger {
		position: absolute;
		opacity: 0;
	}

	.hero__circle {
		left: -15em;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.flex__center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menu {
		width: 50%;
		max-width: 540px;
	}

	.menu ul {
		display: flex;
		justify-content: space-between;
		margin-top: 1em;
	}

	/* .hero {
		height: 100vh;
	} */

	.hero__menu--item {
		position: relative;
		padding-bottom: 0.4em;
		transition: 0.5s ease-out;
	}

	.hero__menu--item a {
		color: white;
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
	}

	.hero__menu--item::after {
		position: absolute;
		content: '';
		background-color: white;
		bottom: 0;
		left: 0;
		right: 100%;
		transition: 0.5s ease-out;
		height: 3px;
	}

	.hero__menu--item:hover {
		transform: scale(1.1);
	}

	.hero__menu--item:hover::after {
		right: 0;
	}

	.hero__text {
		margin-top: 5em;
	}

	h1 {
		width: 70%;
		line-height: 65px;
		margin: 0 auto;
		font-size: 4rem;
	}

	.hero__text p {
		font-size: 2rem;
		margin-top: 0;
		margin-bottom: 1.8em;
	}

	.hero__btn:hover {
		transform: scale(1.1);
	}

	main {
		padding-top: 7em;
	}

	.contact__info {
		margin-bottom: 5em;
	}

	.info__container {
		padding: 3em 4em;
	}

	.dot__img {
		right: 0;
		bottom: -7em;
	}

	.dot__img img {
		width: 70%;
	}

	.jobs {
		padding-bottom: 7em;
	}

	.contact__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.contact__container h2 {
		font-size: 3rem;
		text-align: center;
		width: 40%;
	}

	.contact__container form {
		width: 50%;
	}

	.form__nombre,
	.form__apellido {
		display: inline-block;
	}

	.form__nombre input,
	.form__apellido input {
		max-width: 100%;
	}

	/* .form__nombre {
		margin-right: 2em;
	} */

	.form__email,
	.form__mensaje {
		width: 100%;
	}

	footer .logo {
		margin-bottom: 3em;
	}

	.flex {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.web__design .green__overlay {
		padding: 3em 0;
	}

	.web__design p {
		font-size: 1.2rem;
	}

	.web__design .flex {
		justify-content: space-evenly;
		align-items: center;
	}

	.web__design .flex > div {
		text-align: left;
	}

	.footer__services p {
		margin-top: 0;
	}

	.info__item {
		display: flex;
	}

	.info__item i {
		margin-right: 0.5em;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(365deg);
	}
}

@keyframes appearTitle {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}
